.title {
  color: rgb(9, 65, 65);
  margin: 0;
  margin-bottom: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(37, 131, 131);
  font-size: 12px;
}
.input {
  width: 200px;
  margin-bottom: 10px;
}
